/* about */
.l-about {
    position: relative;
}

.l-about__img img{
    height: auto;
    border-radius: 10px 10px 0 0;
}

.c-about__illust {
    position: absolute;
    width: 20vw;
}

.l-about__text {
    font-size: 18px;
    line-height: 30px;
}

.l-about__text p { 
    margin: 20px 0;
    font-size: 12px;
    line-height: 25px
}

.l-about__text button {
    position: relative;
    width: 230px;
    padding: 15px 8px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.l-about__text button::after {
    position: absolute;
    right: 5px;
    content: "→";
    font-size: 15px;
}

/* pickup contents */
.l-pickup__title {
    font-size: 30px;
    margin: 30px 0;
}

.p-pickup__contents {
    position: relative;
    display: flex;
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
    border-radius: 15px;
}

.c-starterset {
    background-image: url("../../images/pickup_01.jpg");
    background-size: cover;
}

.c-howto {
    background-image: url("../../images/pickup_02.jpg");
    background-size: cover;
}

.c-newitems {
    background-image: url("../../images/pickup_03.jpg");
    background-size: cover;
}

.p-text {
    position: absolute;
    bottom: 7%;
    left: 7%;
    line-height: 50px;
}

.p-text p {
    font-size: 15px;
}

.p-pickup__slider button {
    position: relative;
    width: 160px;
    padding: 10px 3px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: none;
}

.p-pickup__slider button::after {
    position: absolute;
    right: 5px;
    content:"→";
}

/* allitems */
.l-allitems__title h2 {
    font-size: 30px
}

.l-allitems__title p {
    font-size: 13px;
}

.l-allitems__title button {
    position: relative;
    width: 22vw;
    padding: 15px 8px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.l-allitems__title button:after {
    content:"→";
    position: absolute;
    right: 1vw;
}

.c-allitems__illust {
    width: 18vw;
    height: auto;
    position: absolute;
    bottom: 1vw;
    left: 2vw;
}

.l-allitems__contents {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.c-allitems__img {
    position:relative;
    border-radius: 10px;
    background-size: cover;
}

.c-allitems1 {
    background-image: url("../../images/allitem_herb01.jpg");
}

.c-allitems2 {
    background-image: url("../../images/allitem_strawberry01.jpg");
}

.c-allitems__img-text {
    position: relative;
    top: 10%;
    left: 10%;
    text-align: center;
    color: #fff;
    background-color: gray;
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.c-allitems__img-text::before {
    content: "今すぐ育てられる";
}

.c-allitems__text {
    margin-top: 20px;
    color: #000;
    font-weight: bold;
}

.c-allitems__value {
    margin-top: 10px;
}

/* magazine */
.l-magazine {
    padding: 80px 50px;
    background-color: #fff;
}

.l-magazine__title {
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
}

.l-magazine__title h2 {
    font-size: 30px
}

.l-magazine__title p {
    font-size: 13px;
}

.p-magazine__contents {
    display: flex;
}

.p-magazine__contents li {
    width : calc(100% / 3) ;
    margin-right: 30px;
    text-decoration: none;
}

.p-magazine__contents li:last-child {
    margin: 0;
}

.p-magazine__contents a {
    color: #000;
    text-decoration: none;
}

.c-magazine__img {
    width: auto;
    height: 300px;
    border-radius: 10px;
}

.c-magazine1 {
    background-size: cover;
    background-image: url("../../images/magazine_01.jpg");
}

.c-magazine2 {
    background-size: cover;
    background-image: url("../../images/magazine_02.jpg");
}

.c-magazine3 {
    background-size: cover;
    background-image: url("../../images/magazine_03.jpg");
}

.c-date {
    margin-top: 10px;
    font-size: 12px;
}

.c-magazine__title {
    margin: 15px 0;
    font-size: 22px;
    line-height: 25px;
}

.c-magazine__text {
    margin-bottom: 20px;
    font-size: 14px;
}

.c-magazine__link {
    font-size: 14px;
    border-bottom:1px solid;
    display: inline-block;
}

.l-magazine__link {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.l-magazine__link button {
    position: relative;
    width: 230px;
    padding: 15px 8px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.l-magazine__link button:after {
    content:"→";
    position: absolute;
    right: 10px;
}

/* relationship */
.l-relationship {
    padding: 80px 50px;
    background-color: #fff;
}

.l-relationship__title {
    margin-bottom: 20px;
    text-align: center;
    line-height: 45px;
}

.c-instagram {
    font-size: 13px;
}

.c-instagram::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 18px;
    background: url(../../images/icon_instgram.png) no-repeat;
    background-size: contain;
    transform: translate(4px,4px);
}

.c-relationship__title{
    font-size: 30px
}

.c-relationship__text {
    font-size: 13px;
}

.p-instagram__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between; 
}

.p-instagram__contents a {
    width: 20vw;
    height: 20vw;
    margin-right: 3vw;
    background-size: cover;
    position: relative;
}

.p-instagram__contents a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: all 0.5s;
}

.p-instagram__contents a:hover::before {
    opacity: 1;
    background-image: url(../../images/icon_instgram.png);
    /* no-repeat 出来ない */
    background-size: 3vw;
}

.p-instagram__contents a:nth-of-type(4n) {
    margin-right: 0;
}

.p-instagram__contents a:nth-of-type(n+5) {
    margin-top: 3vw;
}

.c-instagram__contents01 {
    background-image: url("../../images/instagram_01.jpg");
}

.c-instagram__contents02 {
    background-image: url("../../images/instagram_02.jpg");
}

.c-instagram__contents03 {
    background-image: url("../../images/instagram_03.jpg");
}

.c-instagram__contents04 {
    background-image: url("../../images/instagram_04.jpg");
}

.c-instagram__contents05 {
    background-image: url("../../images/instagram_05.jpg");
}

.c-instagram__contents06 {
    background-image: url("../../images/instagram_06.jpg");
}

.c-instagram__contents07 {
    background-image: url("../../images/instagram_07.jpg");
}

.c-instagram__contents08 {
    background-image: url("../../images/instagram_08.jpg");
}

@media screen and (max-width: 768px) {
    /* SP style */

    /* about */
    .l-about {
        padding: 5vw 10vw 0 10vw;
        text-align: center;
    }

    .l-about__img {
        height: auto;
    }

    .l-about__img img{
        width: 550px;
    }

    .c-about__illust {
        bottom: -12%;
        left: 50%;
        transform: translateX(-50%);
    }

    .l-about__text {
        margin-left: 0;
    }

    /* pickup contents */
    .l-pickup {
        padding-top: 15svw;
        padding-left: 25px;
    }

    .p-pickup__contents {
        width: 85vw;
        height: 60vw;
    }

    /* allitems */
    .l-allitems {
        padding-left: 25px;
        padding-bottom: 5vw;
    }

    .l-allitems__title {
        margin: 30px 0;
    }

    .l-allitems__contents {
        position: relative;
        display: flex;
        margin-right: 20px;
        color: #fff;
        border-radius: 15px;

    }

    .c-allitems__img {
        width: 85vw;
        height: 60vw;
    }

    .c-allitems__img-text {
        width: 23vw;
        height: auto;
        padding: 10px 8px;
        font-size: 2.8vw;
        border-radius: 15px;
    }
    
}

@media screen and (min-width: 769px) {
    /* PC style */

    /* about */
    .l-about {
        display: flex;
        padding: 80px 100px 0 100px;
    }

    .l-about__img {
        width: calc(100% / 2);
    }

    .l-about__img img{
        width: 43vw;
    }

    .c-about__illust {
        top:80px;
        right: 100px;
    }

    .l-about__text {
        margin-left: 60px;
    }

    /* pickup contents */
    .l-pickup {
        padding-top: 80px;
        padding-left: 100px;
    }

    .p-pickup__contents {
        width: 65vw;
        height: 50vw;
    }

    /* allitems */
    .l-allitems {
        display: flex;
        padding: 80px 100px;
    }

    .l-allitems__title {
        position: relative;
        width: 30%;
        line-height: 50px;
    }

    .l-allitems__list {
        display: flex;
        width: 70%;
    }

    .l-allitems__contents {
        margin-right: 30px;
        width: 100%;
    }

    .c-allitems1:hover {
        background-image: url("../../images/allitem_herb02.jpg");
        transition: 0.5s;
    }

    .c-allitems2:hover {
        background-image: url("../../images/allitem_strawberry02.jpeg");
        transition: 0.5s;
    }

    .c-allitems__img {
        width: auto;
        height: 20vw;
    }

    .c-allitems__img-text {
        width: 100px;
        height: auto;
        padding: 8px 5px;
        font-size: 12px;
        border-radius: 10px;
    }
}