footer {
    position: relative;
    background-color: #fff;
}

.return {
    position: absolute;
    top: 50px;
    right: 0;
    color: #fff;
    background-color: #000;
    font-size: 5vw;
    padding: 1.5vw;
    text-decoration: none;
}

/* left */
.l-footer__logo img {
    width: 60px;
    height: auto;
}
.l-footer__instagram img {
    width: 25px;
    height: auto;
}

/* center */
.l-footer__center {
   display: grid;
   text-decoration: none;
}

.l-footer__center a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.l-footer__center a:after {
    content: ">";
    margin-left: 7px;
}

/* right */
.l-footer__signup {
    font-size: 12px;
    box-sizing: border-box;
}

#email {
    padding-left: 15px;
    margin-right: 10px;
}

#sendemail {
    padding: 1px 20px;
    color: #fff;
    background-color: #404040;
    border: 1px solid #404040;
}

.l-footer__copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 11px;
}

@media screen and (max-width: 899px) {
    /* SP style */
    footer {
        padding: 130px 30px 30px;
    }

    .return {
        font-size: 5vw;
        padding: 1.5vw;
    }

    /* left */
    .l-footer__left {
        display: flex;
        justify-content: space-between;
    }

    /*  center */
    .l-footer__center {
        width: 100%;
        margin-top: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45px 45px 45px 45px 45px 45px;
    }

    /* right */

    .l-footer__signup {
        width: 100%;
    }

    .c-signup__form {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    #email {
        width: 75%;
        height: 40px;
    }
    
    #sendemail {
        width: 18%;
        height: 45px;
    }
}

@media screen and (min-width: 900px) {
    /* PC style */
    footer {
        padding: 130px 100px 30px 100px;
    }

    .return {
        font-size: 25px;
        padding: 13px;
    }

    .l-footer__contents {
        display: flex;
        flex-wrap: wrap;
    }

    /* left */
    .l-footer__left {
        margin-right: 2vw;
        width: 10%;
    }

    .l-footer__logo {
        display: flex;
        justify-content: center;
    }

    .l-footer__instagram {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    /* center */
    .l-footer__center {
        width: 55%;
        grid-template-columns: 10vw 10vw 9vw 10vw;        
        grid-template-rows: 45px 45px 45px;
        column-gap: 20px;
        text-decoration: none;
        margin-right: 2vw;
    }
    
    /* right */
    .l-footer__signup {
        width: 30%;
    }

    #email {
        width: 210px;
        height: 40px;
        margin-top: 20px;

    }
    
    #sendemail {
        width: 90px;
        height: 40px;
    }
    
}