header {
    position: relative;
}

.l-header__top {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px 50px;
    z-index: 999;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.l-header__top a,
.l-header__top span {
    color: #fff;
    text-decoration: none;
}

.abc {
    background-color: rgb(233, 220, 203);
    color: #000;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
}

.ppp, .qqq {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    font-size: 13px;
    text-align: left;
    line-height: 25px;
}

.ppp a:hover, .qqq a:hover {
    opacity: 0.6;
}

.bbb, .ccc {
    display: block;
    color: #000;
}

.l-header__menu,
.l-header__logo a,
.l-header__link {
    flex: 1;
}

.l-header__link ul {
    justify-content:  end;
}

.l-header__link ul {
    display: flex;
}

.l-header__link li:last-child {
    margin-right: 0;
}

.l-header__link li {
    margin-right: 1vw;
    font-size:13px;
    padding-left: 18px;
    background-size: 15px;
}

.c-link__item a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.l-header__logo p::after {
    content: "UERU";
    display: flex;
    padding-top: 2px;
}

.change-color {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.l-header__logo img {
    width: 30px;
}

@media screen and (max-width: 768px) {
    /* SP style */
    .l-header__link li:first-child,
    .l-header__link li:nth-child(2) {
        display: none;
    }

    .pc_nav {
        display: none;
    }

    #sp_menu {
        position: relative;
        display: block;
        text-align: start;
        color: #fff;
     }

    #sp_menu::before {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        transform: translateY(-50%);
     }

     .sp_nav {
        padding-top: 50px;
     }

     .sp_nav li {
        font-size: 15px;
     }

     .sp_nav ul {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
     }

     .sp_nav li {
        margin: 0;
        padding: 0;
     }

     .sp_nav li a, .sp_nav li span {
        display: block;
        padding: 10px 0;
        color: #000;
     }

     .sp_nav li a::after {
        content: ">";
        padding-left: 5px;
     }

     .sp_nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        width: 100%;
        background: rgb(233, 220, 203);
        transition: all .2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
     }

     .close {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        top: -10px;
        left: 85vw;
      }
      
      .close::before, .close::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 30px;
        background: #333;
      }
      
      .close::before {
        transform: translate(-50%,-50%) rotate(45deg);
      }
      
      .close::after {
        transform: translate(-50%,-50%) rotate(-45deg);
      }

      .toggle1 {
        transform: translateY( 0 );
        opacity: 1;
     }
}

@media screen and (min-width: 769px) {
    /* PC style */
    #sp_menu, .sp_nav, .close {
        display: none;
     }

    .pc-nav li {
    font-size: 17px;
    }

    .l-header__menu {
        display: relative;
    }

    .l-header__menu ul {
        display: flex;
    }

    .l-header__menu li:last-child {
        margin-right: 0;
    }

    .l-header__menu li {
        font-size: 17px;
        margin-right: 3vw;
    }
}