header {
    position: relative;
}

.l-header__top {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px 50px;
    z-index: 999;
    box-sizing: border-box;
    text-align: center;
}

.abc {
    background-color: rgb(233, 220, 203);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
}

.ppp, .qqq {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    font-size: 13px;
    text-align: left;
    line-height: 25px;
}

.ccc {
    display: block;
}

.l-header__top a {
    color: #fff;
    text-decoration: none;
}

.l-header__menu {
    display: relative;
}

.l-header__menu ul,
.l-header__link ul {
    display: flex;
}

.l-header__menu li:last-child,
.l-header__link li:last-child {
    margin-right: 0;
}

.l-header__menu li {
    font-size: 17px;
    margin-right: 3vw;
}

.l-header__link li {
    margin-right: 1vw;
    font-size:13px;
    padding-left: 18px;
    background-size: 15px;
}
.c-link__item span {
    color: #fff;
}

.c-link__item span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.c-link__item a:hover {
    text-decoration: underline;
}

.l-header__logo p::after {
    content: "UERU";
    display: flex;
    padding-top: 2px;
}

.change-color {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.l-header__logo img {
    width: 30px;
}



@media screen and (max-width: 768px) {
    /* SP style */
    .l-header__menu li:nth-of-type(n+2),
    .l-header__link li:first-child,
    .l-header__link li:nth-child(2) {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    /* PC style */
}