header {
    position: relative;
}

.l-header__top {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.l-header__top--wrap {
    display: flex;
    align-items: flex-end;
}

.l-header__top a,
.l-header__top span {
    color: #fff;
    text-decoration: none;
}

.wrap-active {
    background-color: rgb(233, 220, 203);
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
}

.p-items__wrap, .p-magazine__wrap {
    display: none;
    position: absolute;
    top: 150px;
    left: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 45px;
}

.p-items__wrap a:hover, .p-magazine__wrap a:hover {
    opacity: 0.6;
}

.p-items__wrap.active, .p-magazine__wrap.active {
    top: 100px;
}

.count-result {
    display: block;
}

.l-header__link ul {
    display: flex;
    justify-content:  end;
}

.l-header__link li:last-child {
    margin-right: 0;
}

.l-header__link li {
    margin-right: 2vw;
    font-size: 12.5px;
    font-weight: bold;
    padding-left: 20px;
    background-size: 15px;
}

.c-link__item {
    border-bottom: 1px solid rgb(0, 0, 0, 0);
    padding-bottom: 2px;
}

.c-link__item:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}

.l-header__title p::after {
    content: "UERU";
    padding-top: 2px;
}

.change-color {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.change-color.active {
    background-color: transparent;
}

.l-header__logo.active {
    display: none;
}

@media screen and (max-width: 899px) {
    .l-header__logo {
        position: absolute;
        width: 35px;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .l-header__title a {
        position: relative;
    }

    .l-header__title {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    .l-header__title.active {
        padding-top: 0px;
    }

    .l-header__top--wrap {
        display: flex;
        align-items: center;
    }

    .l-header__menu,
    .l-header__link {
        flex: 3;
    }

    .l-header__title {
        flex: 1;
    }
    
    .l-header__top {
        padding: 20px 25px;
    }

    .l-header__link li:first-child,
    .l-header__link li:nth-child(2) {
        display: none;
    }

    .l-header__link ul {
        padding-top: 15px;
    }

    .pc_nav {
        display: none;
    }

    #sp_menu {
        position: relative;
        display: block;
        text-align: start;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        font-weight: 700;
        border-bottom: 1px solid rgb(0, 0, 0, 0);
        padding-bottom: 2px;
    }

    #sp_menu:hover {
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
        width: 40px;
    }

    #sp_menu::after {
        position: absolute;
        content: "";
        top: 5px;
        left: 48px;
        width: 8px;
        height: 8px;
        transform: translateY(-45%) rotate(135deg);
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .sp_nav {
        padding-top: 50px;
    }

    .sp_nav li {
        font-size: 15px;
        border-bottom: 1px solid rgb(0, 0, 0, 0);
        padding-bottom: 2px;
    }

    .sp_nav li:hover {
        border-bottom: 1px solid #000;
        padding-bottom: 2px;
    }

    .sp_nav ul {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    .sp_nav li {
        margin: 10px 0;
    }

    .sp_nav li a, .sp_nav li span {
        display: block;
        color: #000;
    }

    .sp_nav li a {
        position: relative;
        display: inline-block;
    }

    .sp_nav li a::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        margin-top: -3px;
        border-top: solid 1px #555;
        border-right: solid 1px #555;
        transform: rotate(45deg);
        top: 50%;
        right: -13px;
    }

    .sp_nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        width: 100%;
        background: rgb(233, 220, 203);
        transition: all .2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
    }

    .close {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        top: -10px;
        left: 85vw;
        cursor: pointer;
    }
    
    .close::before, .close::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 30px;
        background: #333;
    }
    
    .close::before {
        transform: translate(-50%,-50%) rotate(45deg);
    }
    
    .close::after {
        transform: translate(-50%,-50%) rotate(-45deg);
    }

    .toggle {
        transform: translateY( 0 );
        opacity: 1;
    }

    .l-header__title p::after {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.2em;
    }
}

@media screen and (min-width: 900px) {
    /* PC style */
    .l-header__logo {
        position: absolute;
        width: 50px;
        top: -60px;
        left: 0;
        transform: translateX(-50%);
    }

    .l-header__title.active {
        padding-top: 0px;
    }
 
    .l-header__menu,
    .l-header__link {
        flex: 4;
    }
    .l-header__title {
        flex: 1;
    }

    .l-header__title {
        padding-top: 40px;
    }

    .l-header__title a {
        position: relative;
    }

    .l-header__top {
        padding: 40px 45px;
    }

    .l-header__top.active a,
    .l-header__top.active li,
    .l-header__top.active span {
        color: #000;
    }

    .l-header__link.active li:hover,
    .l-header__menu.active li:hover {
        border-bottom: 1px solid #000;
    }

    .l-header__logo.active a:hover {
        text-decoration: none;
    }

    #sp_menu, .sp_nav, .close {
        display: none;
     }

    .pc-nav li {
        font-size: 17px;
        font-weight: bold;
    }

    .l-header__menu ul {
        display: flex;
    }

    .l-header__menu li:last-child {
        margin-right: 0;
    }

    .l-header__menu li {
        font-size: 17px;
        font-weight: bold;
        margin-right: 1.8vw;
    }
    
    .l-header__menu li:nth-child(2),
    .l-header__menu li:nth-child(3) {
        margin-right: 3.2vw;
    }

    .l-header__title p::after {
        font-size: 23px;
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    .button-itemsList, .button-magazineList {
        padding: 2px;
        text-align: center;
        width: 20%;
        margin: 30px auto 0;
        position: relative;
    }
    .button-itemsList.down::before,
    .button-magazineList.down::before {
        content: "";
        width: 10px;
        height: 10px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        position: absolute;
        right: -20%;
    }
    .button-itemsList.up::before,
    .button-magazineList.up::before {
        content: "";
        width: 10px;
        height: 10px;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        transform: rotate(45deg);
        position: absolute;
        top: 8px;
        right: -25%;
    }
    .button-itemsList.down.active::before,
    .button-magazineList.down.active::before {
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
    }
}

@media screen and (max-width: 500px) {
    #sp_menu {
        font-size: 10px;
    }

    #sp_menu::after {
        top: 3px;
        left: 42px;
    }

    .l-header__top {
        padding: 25px 10px 15px;
    }

    .l-header__link ul {
        padding-top: 15px;
    }

    .l-header__link li {
        font-size: 11px;
    }
    
    .c-login::before, .c-cart::before {
        top: -15px;
    }
}