/* about */
.l-about {
    position: relative;
}

.l-about__img img{
    height: auto;
    border-radius: 10px 10px 0 0;
}

.c-about__illust {
    position: absolute;
    width: 20vw;
}

.l-about__text {
    font-size: 18px;
    line-height: 30px;
}

.l-about__text p { 
    margin: 20px 0;
    font-size: 12px;
    line-height: 25px;
}

.l-about__text button {
    position: relative;
    width: 230px;
    padding: 15px 8px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.l-about__text button::after {
    position: absolute;
    right: 5px;
    content: "→";
    font-size: 15px;
}

/* pickup contents */
.l-pickup__title {
    font-size: 30px;
    margin: 30px 0;
}

.p-pickup__contents {
    position: relative;
    display: flex;
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
    border-radius: 15px;
}

.p-text {
    position: absolute;
    bottom: 7%;
    left: 7%;
    line-height: 50px;
}

.p-text p {
    font-size: 15px;
}

.p-pickup__slider button {
    position: relative;
    width: 160px;
    padding: 10px 3px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: none;
}

.p-pickup__slider button::after {
    position: absolute;
    right: 5px;
    content:"→";
}

/* allitems */
.l-allitems {
    position: relative;
}

.l-allitems__title h2 {
    font-size: 30px
}

.l-allitems__title p {
    font-size: 13px;
}

.l-allitems__title button {
    position: relative;
    padding: 15px 8px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.l-allitems__title button:after {
    content:"→";
    position: absolute;
    right: 1vw;
}

.c-allitems__illust {
    position: absolute;
    bottom: 1vw;
    left: 2vw;
}

.l-allitems__contents {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.c-allitems__img {
    position:relative;
    border-radius: 10px;
    background-size: cover;
}

.c-allitems__img-text {
    position: relative;
    top: 10%;
    left: 10%;
    text-align: center;
    color: #fff;
    background-color: gray;
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.c-allitems__img-text::before {
    content: "今すぐ育てられる";
}

.c-allitems__text {
    margin-top: 20px;
    color: #000;
    font-weight: bold;
}

.c-allitems__value {
    margin-top: 10px;
}

/* magazine */
.l-magazine {
    background-color: #fff;
}

.l-magazine__title {
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
}

.l-magazine__title h2 {
    font-size: 30px
}

.l-magazine__title p {
    font-size: 13px;
}

.p-magazine__contents a {
    color: #000;
    text-decoration: none;
    line-height: 0;
}

.p-magazine__contents a:hover {
    opacity: 0.5;
}

.c-date {
    margin-top: 10px;
    font-size: 12px;
}

.c-magazine__title {
    margin: 15px 0;
    font-size: 22px;
    line-height: 25px;
}

.c-magazine__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}

.c-magazine__more {
    font-size: 14px;
    border-bottom:1px solid;
    padding-bottom: 10px;
    display: inline-block;
}

.l-magazine__link {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.l-magazine__link button {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.l-magazine__link button:after {
    content:"→";
    position: absolute;
    right: 10px;
}

/* relationship */
.l-relationship {
    background-color: #fff;
}

.l-relationship__title {
    margin-bottom: 20px;
    text-align: center;
    line-height: 45px;
}

.c-instagram {
    font-size: 13px;
}

.c-instagram::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 18px;
    background: url(../../images/icon_instgram.png) no-repeat;
    background-size: contain;
    transform: translate(4px,4px);
}

.c-relationship__title{
    font-size: 30px
}

.c-relationship__text {
    font-size: 13px;
}

.p-instagram__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.p-instagram__contents a {
    width: calc(25% - 1vw);
    height: 22vw;
    background-size: cover;
    position: relative;
}

.p-instagram__contents a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
}

.p-instagram__contents a:hover::before {
    opacity: 1;
    background-image: url("../../images/icon_whiteinstagram.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3vw;
}

.p-instagram__contents a:nth-of-type(n+5) {
    margin-top: 1.5vw;
}

@media screen and (max-width: 768px) {
    /* SP style */

    /* about */
    .l-about {
        padding: 5vw 10vw 0 10vw;
        text-align: center;
    }

    .l-about__img {
        height: auto;
    }

    .l-about__img img{
        width: 80vw;
    }

    .c-about__illust {
        bottom: -13vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .l-about__text {
        margin-left: 0;
    }

    /* pickup contents */
    .l-pickup {
        padding-top: 15svw;
        padding-left: 25px;
    }

    .p-pickup__contents {
        width: 85vw;
        height: 60vw;
    }

    /* allitems */
    .l-allitems {
        padding-left: 25px;
        padding-bottom: 35vh;
    }

    .l-allitems__title p {
        margin: 10px;
    }

    .l-allitems__title button {
        top: 77vh;
        width: calc(100% - 20px);
    }

    .c-allitems__illust {
        width: 180px;
        height: auto;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .l-allitems__title {
        margin: 30px 0;
    }

    .l-allitems__contents {
        position: relative;
        display: flex;
        margin-right: 20px;
        color: #fff;
        border-radius: 15px;
    }

    .c-allitems__img {
        width: 85vw;
        height: 50vh;
    }

    .c-allitems__img-text {
        width: 23vw;
        height: auto;
        padding: 10px 8px;
        font-size: 2.8vw;
        border-radius: 15px;
    }
    
    /* magazine */
    .l-magazine {
        padding-top: 8vw;
        padding-left: 25px;
    }

    .p-magazine__contents a {
        width: 85vw;
        height: 600px;
        margin-right: 20px;
    }

    .c-magazine__img {
        width: 85vw;
        height: 60vw;
        border-radius: 15px;
    }

    .l-magazine__link button {
        position: relative;
        width: 90%;
        padding: 3vw 0;
        font-size: 15px;
    }

    /* relationship */
    .l-relationship {
        padding: 40px 30px;
    }
}

@media screen and (min-width: 769px) {
    /* PC style */

    /* about */
    .l-about {
        display: flex;
        padding: 80px 100px 0 100px;
    }

    .l-about__img {
        width: calc(100% / 2);
    }

    .l-about__img img{
        width: 40vw;
    }

    .c-about__illust {
        top: 1vw;
        right: -7vw;
    }

    .l-about__text {
        margin-left: 60px;
    }

    /* pickup contents */
    .l-pickup {
        padding-top: 80px;
        padding-left: 100px;
    }

    .p-pickup__contents {
        width: 65vw;
        height: 50vw;
    }

    /* allitems */
    .l-allitems {
        display: flex;
        padding: 80px 100px;
    }

    .l-allitems__title {
        position: relative;
        width: 35%;
        line-height: 50px;
        margin-right: 25px;
    }

    .l-allitems__title button {
        width: 22vw;
    }

    .c-allitems__illust {
        width: 18vw;
        height: auto;
        bottom: 1vw;
        left: 2vw;
    }

    .l-allitems__list {
        display: flex;
        width: 70%;
    }

    .l-allitems__contents {
        margin-right: 30px;
        width: 100%;
    }


    .c-allitems__img {
        width: auto;
        height: 20vw;
    }

    .c-allitems__img-text {
        width: 100px;
        height: auto;
        padding: 8px 5px;
        font-size: 12px;
        border-radius: 10px;
    }

    /* magazine */
    .l-magazine {
        padding: 80px 50px;
    }

    .p-magazine__contents {
        display: flex;
    }

    .p-magazine__contents a {
        width : calc(100% / 3);
        margin-right: 30px;
    }

    .p-magazine__contents a:last-child {
        margin: 0;
    }

    .c-magazine__img {
        width: auto;
        height: 300px;
        border-radius: 10px;
    }

    .l-magazine__link button {
        width: 230px;
        padding: 15px 8px;
        font-size: 12px;
    }

    /* relationship */
    .l-relationship {
        padding: 40px 50px;
    }
}