/* hero */
.hero {
    position: relative;
    height: 100vh;
    text-align: center;
    background-image: url("../../images/top.jpg");
    background-size: cover;
}

.l-main__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #fff;
    text-align: center;
    z-index: 1;
    font-size: 22px;
    width: 100%;
}

.l-main__title p {
    font-size: 12px;
    margin-top: 20px;
    line-height: 25px;
    width: 100%;
}

.about {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}


/* about */
.l-about {
    position: relative;
}

.l-about__img img{
    height: auto;
    border-radius: 10px 10px 0 0;
}

.c-about__illust {
    position: absolute;
    width: 145px;
}

.l-about__text {
    font-size: 18px;
    line-height: 30px;
}

.l-about__text p { 
    margin: 20px 0;
    font-size: 12px;
    line-height: 25px;
}

.l-about__text button {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.l-about__text button::after {
    position: absolute;
    right: 5px;
    content: "→";
    font-size: 15px;
}

/* pickup contents */
.l-pickup__title {
    font-size: 30px;
}

.p-pickup__contents {
    position: relative;
    display: flex;
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
    border-radius: 15px;
}

.p-text {
    position: absolute;
    bottom: 7%;
    left: 7%;
    line-height: 50px;
}

.p-text p {
    font-size: 15px;
}

.p-pickup__slider button {
    position: relative;
    width: 160px;
    padding: 10px 3px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: none;
}

.p-pickup__slider button::after {
    position: absolute;
    right: 5px;
    content:"→";
}

/* allitems */

.l-allitems {
    position: relative;
}

.l-allitems__title h2 {
    font-size: 30px
}

.l-allitems__title p {
    font-size: 13px;
}

.l-allitems__contents a {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.c-allitems__img {
    position:relative;
    border-radius: 10px;
    background-size: cover;
}

.c-allitems__img-text {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
    color: #fff;
    background-color: gray;
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.c-allitems__img-text::before {
    content: "今すぐ育てられる";
}

.c-allitems__text {
    margin-top: 20px;
    color: #000;
    font-weight: bold;
}

.c-allitems__value {
    margin-top: 10px;
}
.l-allitems__link {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.c-allitems__link {
    position: relative;
    padding: 10px 8px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.c-allitems__link:after {
    content:"→";
    position: absolute;
    right: 5px;
}

.c-allitems__illust {
    position: absolute;
}

/* magazine */
.l-magazine {
    position: relative;
    background-color: #fff;
}

.l-magazine__title {
    padding-bottom: 20px;
    text-align: center;
    line-height: 50px;
}

.l-magazine__title h2 {
    font-size: 30px
}

.l-magazine__title p {
    font-size: 13px;
}

.p-magazine__contents a {
    color: #000;
    text-decoration: none;
    line-height: 0;
}

.p-magazine__contents a:hover {
    opacity: 0.5;
}

.c-date {
    margin-top: 10px;
    font-size: 12px;
}

.c-magazine__title {
    margin: 15px 0;
    font-size: 22px;
    line-height: 25px;
}

.c-magazine__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}

.c-magazine__more {
    font-size: 14px;
    border-bottom:1px solid;
    padding-bottom: 10px;
    display: inline-block;
}

.l-magazine__link {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.l-magazine__link button {
    position: relative;
    padding: 10px 8px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.l-magazine__link button:after {
    content:"→";
    position: absolute;
    right: 5px;
}

.c-magazine__illust {
    position: absolute;
    width: 180px;
    height: auto;
}

/* relationship */
.l-relationship {
    background-color: #fff;
}

.l-relationship__title {
    padding: 40px 0 20px;
    text-align: center;
    line-height: 45px;
}

.c-instagram {
    font-size: 13px;
}

.c-instagram::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 18px;
    background: url(../../images/icon_instgram.png) no-repeat;
    background-size: contain;
    transform: translate(4px,4px);
}

.c-relationship__title{
    font-size: 30px
}

.c-relationship__text {
    font-size: 13px;
}

.p-instagram__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.p-instagram__contents a {
    width: calc(25% - 1vw);
    height: 22vw;
    background-size: cover;
    position: relative;
}

.p-instagram__contents a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
}

.p-instagram__contents a:hover::before {
    opacity: 1;
    background-image: url("../../images/icon_whiteinstagram.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3vw;
}

.p-instagram__contents a:nth-of-type(n+5) {
    margin-top: 1.5vw;
}

@media screen and (max-width: 768px) {
    /* SP style */

    /* about */
    .l-about {
        padding: 7vw 10vw;
        text-align: center;
    }

    .l-about__img {
        height: auto;
    }

    .l-about__img img{
        width: 80vw;
    }

    .l-about__text button {
        width: 90vw;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 8px;
    }

    .c-about__illust {
        bottom: -95px;
        left: 50%;
        transform: translateX(-50%);
    }

    .l-about__text {
        margin-left: 0;
    }

    /* pickup contents */
    .l-pickup {
        padding-top: 15vh
    }

    .l-pickup__title {
        padding: 20px 0 20px 25px;
    }

    .p-pickup__slider {
        padding-left: 20px;
    }

    .p-pickup__contents {
        width: 85vw;
        height: 60vw;
    }

    /* allitems */
    .l-allitems {
        margin-top: 25px;
        margin-bottom: 45vh;
    }

    .l-allitems__title {
        padding: 20px 0 20px 25px;
    }

    .l-allitems__title p {
        margin: 10px;
    }

    .l-allitems__list {
        padding-left: 25px;
    }

    .l-allitems__contents {
        position: relative;
        display: flex;
        margin-right: 20px;
        color: #fff;
        border-radius: 15px;
    }

    .c-allitems__img {
        width: 85vw;
        height: 60vw;
    }

    .c-allitems__img-text {
        width: 23vw;
        height: auto;
        padding: 10px 8px;
        font-size: 2.8vw;
        border-radius: 15px;
    }

    .l-allitems__link {
        bottom: -20vh;
        left: 50%;
        transform: translateX(-50%);
    }

    .c-allitems__link {
        width: 85vw;
        height: 55px;
    }

    .c-allitems__illust {
        width: 180px;
        height: auto;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    /* magazine */
    .l-magazine {
        padding: 8vh 0 35vh;
    }

    .p-magazine__contents {
        margin-left: 25px;
    }

    .p-magazine__contents li {
        width: 88vw;
    }

    .c-magazine__img {
        width: 85vw;
        height: 60vw;
        border-radius: 15px;
    }

    .l-magazine__link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .l-magazine__link button {
        width: 90vw;
        height: 50px;
    }

.c-magazine__illust {
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* relationship */
    .p-instagram__contents {
        padding: 0 30px;
    }
}

@media screen and (min-width: 769px) {
    /* PC style */

    /* about */
    .l-about {
        display: flex;
        margin: 80px 80px 0;
    }

    .l-about__img {
        width: calc(100% / 2);
    }

    .l-about__img img{
        width: 40vw;
    }

    .l-about__text button {
        width: 230px;
        padding: 15px 0;
    }

    .c-about__illust {
        top: 1vw;
        right: -5vw;
    }

    .l-about__text {
        margin-left: 50px;
    }

    /* pickup contents */
    .l-pickup {
        margin-top: 80px;
    }

    .l-pickup__title {
        margin-left: 80px;
        padding: 20px 0;
    }

    .p-pickup__slider {
        margin-left: 80px;
    }

    .p-pickup__contents {
        width: 80vw;
        height: 65vw;
        margin-right: 40px;
    }

    /* allitems */
    .l-allitems {
        display: flex;
        padding: 80px 100px;
    }

    .l-allitems__title {
        position: relative;
        width: 35%;
        line-height: 50px;
        margin-right: 25px;
    }

    .l-allitems__list {
        display: flex;
        width: 70%;
    }

    .l-allitems__contents {
        width: 100%;
    }

    .c-contents1 {
        margin-right: 30px;
    }

    .c-allitems__img {
        width: auto;
        height: 20vw;
    }

    .c-allitems__img-text {
        width: 100px;
        height: auto;
        padding: 8px 5px;
        font-size: 12px;
        border-radius: 10px;
    }

    .l-allitems__link {
        top: 185px;
        left: 100px;
    }

    .c-allitems__link {
        width: 200px;
        height: 50px;
    }

    .c-allitems__illust {
        width: 140px;
        height: auto;
        top: 65px;
        left: 20px;
    }

    /* magazine */
    .l-magazine {
        padding: 80px 50px;
    }

    .p-magazine__contents {
        display: flex;
    }

    .p-magazine__contents li {
        width : calc(100% / 3);
        margin-right: 30px;
    }

    .p-magazine__contents li:last-child {
        margin: 0;
    }

    .c-magazine__img {
        width: auto;
        height: 40vh;
        border-radius: 10px;
    }

    .l-magazine__link button {
        width: 200px;
        height: 50px;
    }

    .c-magazine__illust {
        left: 10%;
        bottom: 5%;
    }

    /* relationship */
    .p-instagram__contents {
        margin: 0 50px;
    }
}